@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../assets/marquee.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  box-shadow: none;
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
  border: none;
  box-sizing: border-box;
}

textarea {
  box-shadow: none;
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
  border: none;
  box-sizing: border-box;
}
